.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: #112035;
  box-sizing: border-box;
  max-width: 512px;
  max-height: 96px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 10px;
}

.content {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}