.nav {
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 4;
}

.item_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  list-style-type: none;
};