.section {
  background-color: #faf3ee;
  padding-left: 104px;
  padding-right: 104px;
  height: 140vh;
  padding-top: 90px;
  position: relative;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 380px;
  text-align: center;
}