.section {
  background-color: #faf3ee;
  padding-left: 104px;
  padding-right: 104px;
  height: 100%;
  padding-top: 90px;
  position: relative;
}

.title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  text-align: center;
}

.col {
  display: flex;
  height: 60%;
  justify-content: space-around;
}

.image_container {
  position: sticky;
  z-index: 2;
  top: 8%;
  width: 460px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  box-sizing: border-box;
  min-height: 770px;
}

.image {
  width: 460px;
  height: 665px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 300px;
}